body
{
    background-color: #2E9BDA;
    padding: 0;
    margin: 0;
    appearance:none;
    font-family: arial, sans-serif;
    color: #8CA3B1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
      
p {
    margin: 0;
}

div#padding
{
    padding: 7vh 6vw;
}

img#topBar {
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
}


img#bottomBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#navmap{
    display: block;
    height: 270px;
    width: 100%;
    border-bottom-color: #C0CCD6;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    opacity: 0;
    z-index: 100;
}

div.block {
    display: block;
    background-color: #F5F6FC;
    padding: 2vh 40px;
    margin: 0;
    position: relative;
}

p.dataname {
    font-size: 32px;
    text-align: center;
}

span.data {
    font-size: 28px;
    color: #00980B;
    font-weight: 600;
}

div.groupname {
    font-size: 32px;
    text-align: left;
    display: inline-block;
    width: 70%;
    float: left;
}

div#group2 {
    position: relative;
    top: -150px;
    z-index: 6;
    opacity: 0;
}

div#group3
{
    position: relative;
    top: -150px;
    z-index: 5;
    opacity: 0;
}

div#group1
{
    position: relative;
    top: -150px;
    opacity: 0;
    z-index: 7;
}

div.solo {
    font-size:32px;
    text-align: left;
}

div.groupno {
    font-size: 36px;
    text-align: right;
    display: inline-block;
    float: right;
    padding-right: 10px;
}

p.clear
{
    clear: both;
}

div.departtime {
    font-size: 24px;
    text-align: left;
    display: inline-block;
    width: 70%;
    float: left;
}

div.riders {
    font-size: 24px;
    text-align: right;
    display: inline-block;
    width: 30%;
    float: right;
}

div#group0
{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    opacity: 0;
    top: -150px;
    z-index: 8;
}

p#rideBig
{
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 34px;
}

p#rideSmall
{
    display: block;
    text-align: center;
    font-size: 20px;
}

div.lineback{
    width: 100%;
    background-color: #F5F6FC;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    z-index: 100;
}

div#tripstat
{
    padding-bottom: 20px;
    position: relative;
    top: -150px;
    opacity: 0;
    z-index: 9;
}

div.line {
    height: 2px;
    width: 80%;
    background-color: #C0CCD6;
    opacity: .8;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
